<html ng-app>

<head>
    <title>ng-model指令</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
</head>

<body>
    <input type="text" ng-model="sometext" />
    <h1>Hello 名称: <span class="text_style">{{ sometext }}</span></h1>
    <h2>名称长度：<span class="text_len">{{ sometext.length }}</span></h2>
    数字表达式：<span class="number_expression">{{3+4*3}}</span>
    <style>
        .text_style {
            color: red;
        }
        input[ng-model="sometext"] {
            width: 60%;
            height: 3em;
        }
        .text_len{
            color:blue;
        }
        .number_expression{
            color:fuchsia;
        }
    </style>
</body>

</html>